{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'men/css/styles.css' %}">
    </head>
    <body>
        <div class="navbar">
            <div class="container">
                <a href="{% url 'home' %}">Главная</a>
                {% for m in menu %}
                    <a href="{% url m.url_name %}">{{ m.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="container main-content">
            <aside class="sidebar">
                <ul>
                    {% if cat_selected == 0 %}
                        <li class="selected">Все категории</li>
                    {% else %}
                        <li>
                            <a href="{% url 'home' %}">Все категории</a>
                        </li>
                    {% endif %}
                    {% for c in cats %}
                        {% if c.pk == cat_selected %}
                            <li class="selected">{{ c.name }}</li>
                        {% else %}
                            <li>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer>
            <div class="container">
                <p>Спасибо, что посетили наш сайт!</p>
            </div>
        </footer>
    </body>
</html>
