{% extends 'base.html' %}
{% block content %}
    <ul class="list-articles">
        {% for p in posts %}
            <li>
                <div class="post-meta">
                    <p class="post-category">Категория {{ p.cat_id }}</p>
                    <p class="post-date"≈>Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
                {% if p.photo %}
                    <div class="post-photo">
                        <img src="{{ p.photo.url }}", alt="{{ p.title }}">
                    </div>
                {% endif %}
                <h2>{{ p.title }}</h2>
                {% autoescape on %}
                    {{ p.content|linebreaks|truncatewords:50 }}
                {% endautoescape %}
                <p class="link-read-post">
                    <a href="{{ p.get_absolute_url }}">Читать пост</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
